
.carousel {
  max-width: 900px;
  display: flex;
  margin: auto;

}
.carousel-caption{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  left:0;
  right:0px;
  bottom:0px;



}
img {
  height: 100%;
  width: 100%;
}

